* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 100vh;
    background-image: linear-gradient( 45deg, #5adaff, #5468ff);
}

#main {
    border: 5px outset red;
    border-style: hidden;
    border-radius: 10px;
    background-color: white;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 5%;
}

.szaszki {
    font-family: Arial;
    text-align: center;
    height: 1px;
}

.logowanie form {
    position: relative;
    top: 15%;
    font-size: 25px;
    font-family: Arial;
    text-align: center;
}

#zawartosc_p {
    position: relative;
    top: 15%;
    font-size: 25px;
    font-family: Arial;
    text-align: center;
}

#zawartosc_div {
  float: left;
  width: 54%;
}

.przycisk {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: Arial;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  .przycisk:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
  }

  .przycisk:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }

  .przycisk:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }

  .box {
    width: 80px;
    height: 80px;
    border: 1px solid #5468ff;
    background-color: white;
    display: inline-block;
    margin: -2px;
    text-align: center;
    
  }

  .czarny {
    background-color: #5468ff;
  }

#szachownica {
  float: left;
  margin-left: 3%;
  width: 43%;
  height: 640px;
}